* {
    box-sizing: border-box; 
}

.navbar-brand p {
    font-family: "Shantell Sans";
    font-size: x-large;
}

.sidebar {
    height: 1fr;
}

div#closeNotification {
    cursor: pointer;
    margin-left: 0.5rem;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; 
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;

    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.4rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.product-card:hover {
    border-color: rgb(213, 31, 31);
}

.product-card img {
    flex-grow: 1;

    width: 100%;
    /*height: auto;*/
    height: 20rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.product-card > p {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;

    word-break: break-all;

    margin: 0;
    font-size: x-large;
    text-align: center;
    text-wrap: wrap;
}

.product-card button {
    width: 75%;
    align-items: center;
}

.product-rating p {
    margin-left: 0.4rem;
    display: inline;
    margin-right: 0.65rem;
}

.product-rating > div {
    display: inline-flex;
}

.product-price p {
    margin-left: 0.4rem;
    font-size: large;
}

.product-old-price {
    color: red;
    text-decoration: line-through;
}

.product-old-price-discount {
    color: red;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex: 1;
}

footer {
    position: sticky;
    bottom: 0%;

    opacity: 90%;
    color: black;
    padding: 0.1rem 0;
    padding-left: 2rem;
}

footer p {
    margin: 0;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    form[role="search"] {
        width: 100% !important;
    }
}

@media (max-width: 2400px) {
    .product-card img {
        height: 30rem;
    }
}

@media (max-width: 1650px) {
    .product-card img {
        height: 20rem;
    }
}

@media (max-width: 1410px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .products {
        grid-template-columns: 1fr;
    }
    .product-card img {
        height: 23rem;
    }
}

@media (max-width: 576px) {
    .product-card img {
        height: 18rem;
    }
}
